@import "tailwindcss";
@import "./assets/css/card.css";
@import "./assets/css/noteCard.css";
@import "./assets/css/slide.css";


:root {
  --sidebarColor: #edede9;
  --slideColor: #FCF7F3;

  --sidebarBg: linear-gradient(
          180deg,
          color-mix(in srgb, var(--sidebarColor), white 8%),
          color-mix(in srgb, var(--sidebarColor), black 4%)
  );

  --slideBg: linear-gradient(
          135deg,
          color-mix(in srgb, var(--slideColor), white 6%),
          color-mix(in srgb, var(--slideColor), black 3%)
  );
}